<script src="{{ 'marquee.js' | asset_url }}" type="module" fetchpriority="low"></script>
<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --section-grid-gap: {{ section.settings.grid_horizontal }}px;
    {% if section.settings.color_background != blank %}
      background-color: {{ section.settings.color_background }};
    {% endif %}
    {% if section.settings.color_text != blank %}
      color: {{ section.settings.color_text }};
    {% endif %}
    {% if section.settings.rotation != 0 %}
      transform: rotate({{ section.settings.rotation }}deg);
      width: 150vw;
      margin-left: -25vw;
    {% endif %}
  }

  .scrolling-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .scrolling-text__item {
    font-size: var(--font-size, 160px);
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 calc(var(--section-grid-gap, 70px) / 2);
  }

  .scrolling-text__item img {
    height: var(--image-height, 80px);
    width: auto;
    object-fit: contain;
  }
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}{% if section.settings.enable_twin %} section--plain{% endif %}">
  <div class="relative z-1">
    {%- if section.blocks.size > 0 -%}
      {%- capture marquee -%}
        {%- liquid
          assign first_block = section.blocks | first
          assign last_block = section.blocks | last
          if first_block.type == 'text' and last_block.type == 'text'
            assign with_dot = true
          endif

          assign with_gradient = false
          if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
            assign with_gradient = true
          endif
        -%}
        <div class="marquee{% if with_dot %} with-dot{% endif %} flex items-center flex-auto whitespace-nowrap">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="scrolling-text__item with-text flex items-center flex-auto {{ block.settings.text_font }} tracking-heading" style="--font-size: {{ block.settings.text_size }}px;{% if block.settings.text_size >= 100 %}--stencil-stroke-width: 0.01em;{% endif %}" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              {%- when 'image' -%}
                {%- liquid
                  assign image_height = block.settings.height
                  assign image_height_2x = block.settings.height | times: 2
                -%}
                <div class="scrolling-text__item with-media flex items-center flex-auto media media--transparent relative" style="--image-height: {{ image_height }}px;" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    <img
                      srcset="{{ block.settings.image | image_url: height: image_height }} 1x, {{ block.settings.image | image_url: height: image_height_2x }} 2x"
                      src="{{ block.settings.image | image_url: height: image_height }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ image_height | times: block.settings.image.aspect_ratio }}"
                      height="{{ image_height }}"
                    />
                  {%- else -%}
                    {{- 'logo' | placeholder_svg_tag: 'placeholder' -}}
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endcapture -%}

      {%- if section.settings.enable_twin -%}
        {%- liquid
          assign direction = section.settings.direction
          if direction == 'left'
            assign reversed = 'right'
          else
            assign reversed = 'left'
          endif
          
          assign movement_dir = 'normal'
          assign movement_rev = 'reverse'
          if direction == 'right'
            assign movement_dir = 'reverse'
            assign movement_rev = 'normal'
          endif
        -%}
        <div class="scrolling-wrapper with-{{ direction }} relative z-1">
          <marquee-component class="scrolling-text scrolling-text--{{ direction }} flex items-center" data-movement-direction="{{ movement_dir }}">
            <div class="marquee__wrapper"><div class="marquee__content"><div class="marquee__repeated-items" style="gap: {{ section.settings.grid_horizontal }}px;">
              {{- marquee -}}
            </div></div></div>
          </marquee-component>
        </div>
        <div class="scrolling-wrapper with-{{ direction }} relative opacity-50">
          <marquee-component class="scrolling-text scrolling-text--{{ reversed }} flex items-center" data-movement-direction="{{ movement_rev }}">
            <div class="marquee__wrapper"><div class="marquee__content"><div class="marquee__repeated-items" style="gap: {{ section.settings.grid_horizontal }}px;">
              {{- marquee -}}
            </div></div></div>
          </marquee-component>
        </div>
      {%- else -%}
        {%- liquid
          assign movement_dir = 'normal'
          if section.settings.direction == 'right'
            assign movement_dir = 'reverse'
          endif
        -%}
        <marquee-component class="scrolling-text scrolling-text--{{ section.settings.direction }} flex items-center" data-movement-direction="{{ movement_dir }}">
          <div class="marquee__wrapper"><div class="marquee__content"><div class="marquee__repeated-items" style="gap: {{ section.settings.grid_horizontal }}px;">
            {{- marquee -}}
          </div></div></div>
        </marquee-component>
      {%- endif -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Scrolling-Text",
  "class": "scrolling-text-section",
  "settings": [
    {
      "type": "select",
      "id": "direction",
      "options": [
        {
          "value": "left",
          "label": "Option 1"
        },
        {
          "value": "right",
          "label": "Option 2"
        }
      ],
      "default": "left",
      "label": "Direction"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 30,
      "step": 1,
      "label": "Speed",
      "unit": "x",
      "default": 20
    },
    {
      "type": "range",
      "id": "grid_horizontal",
      "min": 50,
      "max": 200,
      "step": 5,
      "default": 70,
      "unit": "px",
      "label": "Grid Horizontal"
    },
    {
      "type": "checkbox",
      "id": "enable_twin",
      "label": "Enable Twin",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Enable Parallax",
      "default": true
    },
    {
      "type": "header",
      "content": "Header  Colors",
      "info": "Header  Colors"
    },
    {
      "type": "range",
      "id": "rotation",
      "min": -90,
      "max": 90,
      "step": 1,
      "label": "Rotation",
      "unit": "deg",
      "default": 0
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Color Background"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "Gradient Background"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "Color Highlight"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "Gradient Highlight"
    },
    {
      "type": "header",
      "content": "Header  Section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Divider",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "Rounded"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "range",
          "id": "text_size",
          "default": 160,
          "min": 12,
          "max": 180,
          "step": 2,
          "unit": "px",
          "label": "Text Size"
        },
        {
          "type": "select",
          "id": "text_font",
          "options": [
            {
              "value": "body",
              "label": "Option 1"
            },
            {
              "value": "heading",
              "label": "Option 2"
            }
          ],
          "default": "body",
          "label": "Text Font"
        },
        {
          "type": "header",
          "content": "Header  Highlight",
          "info": "Header  Highlight"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "Option 1"
            },
            {
              "value": "text",
              "label": "Option 2"
            },
            {
              "value": "full_text",
              "label": "Option 3"
            },
            {
              "value": "half_text",
              "label": "Option 4"
            },
            {
              "value": "underline",
              "label": "Option 5"
            },
            {
              "value": "stencil",
              "label": "Option 6"
            },
            {
              "value": "scribble",
              "label": "Option 7"
            }
          ],
          "default": "none",
          "label": "Highlighted Text"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "Option 1"
            },
            {
              "value": "basic-underline",
              "label": "Option 2"
            },
            {
              "value": "sketch-underline",
              "label": "Option 3"
            },
            {
              "value": "squiggle-underline",
              "label": "Option 4"
            },
            {
              "value": "squiggle-underline-2",
              "label": "Option 5"
            }
          ],
          "default": "circle",
          "label": "Highlighted Scribble",
          "info": "Highlighted Scribble"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "height",
          "min": 0,
          "max": 200,
          "step": 4,
          "default": 80,
          "unit": "px",
          "label": "Image Height"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presets",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "custom.overlay"
    ]
  }
}
{% endschema %}
